venv/
myenv/
venv_py12/
project_7_env/
__pycache__/
*.pyc
*.pyo
*.pkl
.env
*.log
Thumbs.db
.vscode/
.idea/
*.sublime-workspace
*.sublime-project
%USERPROFILE%.pyenv
.gitignore
.python-version
sample_data.py
df_train_old.csv
requirements.txt.old
df_test1.csv
*.dll
*.exe
=1.9